
<app-create-task 
 *ngIf = "showCreateForm"
 (closeForm) = "onCloseForm()"
 (EmitEvent) = "onCreateOrUpdateTask($event)"
 [isEditMode] = "isEditMode"
 [selectedTask] = "selectedTask"></app-create-task>

<div class="dashboard-container">
    <div style="display: flex;">
        <div style="width: 50%">
            <h2>Dashboard</h2>
        </div>
        <div style="width: 50%; text-align: right;">
            <button class="create-task-btn" (click) = "onCreateForm()">Create Task</button>
            <button class="create-task-btn" (click) = "onfetchAllTasksClicked()">Fetch all Tasks</button>
            <button class="create-task-btn" (click) = "onDeleteAllTasks()">Clear all Tasks</button>
        </div>
    </div>

    <hr>

    <div class="dashboard-item-container">
        <app-snackbar [errorMessage] = "errorMessage" *ngIf = "errorMessage"></app-snackbar>
       <app-loader *ngIf = "isLoading"></app-loader>
        <div class="w-50 m-auto text-center text-white" *ngIf = "allTasks.length < 1">
            <h3>No task created yet!</h3>
        </div>
            <ng-container *ngIf = "!isLoading">
                <div class="task-item" *ngFor = " let task of allTasks" [ngClass] = " 'task-' + task.status ">
                    <div class="task-title">{{ task.title }}</div>
                    <p><b>Assigned to: </b>{{ task.assignedTo}}</p>
                    <p><b>Priority: </b>{{ task.priority}}</p>
                    <p><b>Status: </b>{{ task.status}}</p>
                    <div class="task-action-icons">
                        <button class="task-action-btn" title="Detail">
                            <i class="fa fa-info-circle" aria-hidden="true">c</i>
                        </button>
                        <button class="task-action-btn" title="Edit" (click) = "onEditClicked(task.id)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true">i</i>
                        </button>
                        <button class="task-action-btn" title="Delete" (click) = "onDeleteTask(task.id)">
                            d
                            <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
                        </button>            
                    </div>
                </div>
            </ng-container>
    </div>
</div>
